<section id="noticy-article-main">
  <article class="noticy-article">
    <figure>
      <img src="../../../assets/imagens/satoru_gojo__jujutsu_kaisen__by_korggfx_deh7qyh.png" alt="imagem padrão do artigo" srcset="">
    </figure>
    <section class="noticy-article-text">
      <p>27 minutes Ago <b>IGN Brasil</b></p>
      <article>
        Jujutsun kaisen the best selling series
      </article>
    </section>
  </article>
  <article class="noticy-article">
    <figure>
      <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b93dac4c-d249-427c-a52e-0be04f96e098/defq28q-3cb445e2-1be7-4de6-ab05-3b960a627069.png/v1/fill/w_811,h_985,q_70,strp/jujutsu_kaisen___speedpaint__by_abd_illustrates_defq28q-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTk0MyIsInBhdGgiOiJcL2ZcL2I5M2RhYzRjLWQyNDktNDI3Yy1hNTJlLTBiZTA0Zjk2ZTA5OFwvZGVmcTI4cS0zY2I0NDVlMi0xYmU3LTRkZTYtYWIwNS0zYjk2MGE2MjcwNjkucG5nIiwid2lkdGgiOiI8PTE2MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.egGFvbDK8nQDhNQ772H7tzvXWPqgMFOTrzCNRj_ffT8" alt="imagem padrão do artigo" srcset="">
    </figure>
    <section class="noticy-article-text">
      <p>27 minutes Ago <b>IGN Brasil</b></p>
      <article>
        Jujutsu 1st best selling copies
      </article>
    </section>
  </article>
  <article class="noticy-article">
    <figure>
      <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/536f8790-3661-4715-ab7e-87a660eb58f7/den3i9c-d00ae012-178a-457c-9bde-fbb5181f41d7.jpg/v1/fill/w_800,h_1000,q_70,strp/nobara_kugisaki_by_waristeinz_den3i9c-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTYwMCIsInBhdGgiOiJcL2ZcLzUzNmY4NzkwLTM2NjEtNDcxNS1hYjdlLTg3YTY2MGViNThmN1wvZGVuM2k5Yy1kMDBhZTAxMi0xNzhhLTQ1N2MtOWJkZS1mYmI1MTgxZjQxZDcuanBnIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.ACxSd6vpWyQYVSV6o9aX3nRXMMFu6TaZOkbuiYNjE5g" alt="imagem padrão do artigo" srcset="">
    </figure>
    <section class="noticy-article-text">
      <p>27 minutes Ago <b>IGN Brasil</b></p>
      <article>
        Nobara cosplay created by @Oniisuna
      </article>
    </section>
  </article>
</section>
