<aside id="article-aside-main">
  <article class="article-aside">
    <h3>Breaking news</h3>
    <article>Jujutsu Kaisen: Cosplayer surprises series fans with female version of Ryomen Sukuna</article>
    <p class="info-data-article-aside">26 Ago 2022 by <a href="">Diego de Souza</a></p>
  </article>
  <article class="article-aside">
    <h3>Tech Insider</h3>
    <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, animi. Natus, delectus sunt voluptates molestias velit facere sed, praesentium placeat consequatur deleniti, animi ipsa rerum alias iste repellat soluta vitae.</article>
    <p class="info-data-article-aside">26 Ago 2022 by <a href="">Diego de Souza</a></p>
  </article>
  <article class="article-aside">
    <h3>Tech Insider</h3>
    <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, animi. Natus, delectus sunt voluptates molestias velit facere sed, praesentium placeat consequatur deleniti, animi ipsa rerum alias iste repellat soluta vitae.</article>
    <p class="info-data-article-aside">26 Ago 2022 by <a href="">Diego de Souza</a></p>
  </article>
  <article class="article-aside">
    <h3>Tech Insider</h3>
    <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, animi. Natus, delectus sunt voluptates molestias velit facere sed, praesentium placeat consequatur deleniti, animi ipsa rerum alias iste repellat soluta vitae.</article>
    <p class="info-data-article-aside">26 Ago 2022 by <a href="">Diego de Souza</a></p>
  </article>
</aside>
