<header id="menuContent">
  <app-menu-header></app-menu-header>
  <app-menu-bar></app-menu-bar>
  <h1>"The cast of extraordinary, the strongest sorcerers in the world!"</h1>
</header>
<section id="section-main__content">
  <h1>Main characters Jujutsu Kaisen</h1>
  <section id="section-main__content-cards">
    <app-cast-cards Id="1" ></app-cast-cards>
    <app-cast-cards Id="2" ></app-cast-cards>
    <app-cast-cards Id="3" ></app-cast-cards>
    <app-cast-cards Id="4" ></app-cast-cards>
    <app-cast-cards Id="5" ></app-cast-cards>
    <app-cast-cards Id="6" ></app-cast-cards>
    <app-cast-cards Id="7" ></app-cast-cards>
    <app-cast-cards Id="8" ></app-cast-cards>
    <app-cast-cards Id="9" ></app-cast-cards>
    <app-cast-cards Id="10" ></app-cast-cards>
    <app-cast-cards Id="11" ></app-cast-cards>
    <app-cast-cards Id="12" ></app-cast-cards>
    <app-cast-cards Id="13" ></app-cast-cards>
    <app-cast-cards Id="14" ></app-cast-cards>
    <app-cast-cards Id="15" ></app-cast-cards>
    <app-cast-cards Id="16" ></app-cast-cards>
    <app-cast-cards Id="17" ></app-cast-cards>
    <app-cast-cards Id="18" ></app-cast-cards>
    <app-cast-cards Id="19" ></app-cast-cards>
    <app-cast-cards Id="20" ></app-cast-cards>
  </section>

</section>
<footer>
  <app-section-footer></app-section-footer>

</footer>
