<header id="container-header">
  <app-menu-header></app-menu-header>
  <app-menu-bar></app-menu-bar>
  <section id="container-area-noticy-main">
    <app-article-hot-topic class="container-area-noticy-main__article"></app-article-hot-topic>
    <app-article-aside class="responsive"></app-article-aside>
  </section>
  <section id="container-noticy">
    <app-menu-noticy></app-menu-noticy>
    <app-menu-history></app-menu-history>
  </section>
</header>
<section id="section-main">
  <section id="container__one-section">
    <section id="one-section__first">
      <app-aside-topic class="topics">Jujutsu Kaisen Season 2 Will Adapt Shibuya Incident
      </app-aside-topic>
      <app-aside-topic class="topics">Jujutsu Kaisen manga may end within a year</app-aside-topic>
      <app-aside-topic class="topics">Movie Jujutsu Kaisen 0 is available on Crunchyroll</app-aside-topic>
      <app-aside-topic class="topics">PUBG Mobile will have a crossover with the Jujutsu Kaisen anime for a month</app-aside-topic>
    </section>
    <app-section-image id="one-section__second"></app-section-image>
    <app-aside-list id="one-section__third"></app-aside-list>
  </section>
  <app-section-slogan></app-section-slogan>
  <app-section-merchandising></app-section-merchandising>
  <section id="section_cards_vertical__container">
    <div id="section_cards_vertical__title">
      <h3>
        characters
      </h3>
      <a href="content"><p>More &rarr;</p></a>
    </div>
    <section id="section_cards_vertical__cards">
      <app-section-cards-vertical Id="1"></app-section-cards-vertical>
      <app-section-cards-vertical Id="2"></app-section-cards-vertical>
      <app-section-cards-vertical Id="3"></app-section-cards-vertical>
    </section>
  </section>

</section>
<footer>
  <app-section-footer></app-section-footer>

</footer>
