<a href="https://vocesabianime.com/gege-akutami-vai-aparecer-na-tv/" target="_blank">
  <section id="section-image">
    <section id="section-image__locale">
      FUJI TV
    </section>
    <section id="section-image__description">
      <div id="section-image__secundarie">
        <div class="circle"></div>
        <h3>in de middle</h3>
      </div>
      <h1>Hiding his face, Gege Akutami will appear on TV</h1>
      <p>25 December by <b style="color:blue;">vocesabianime</b></p>
    </section>
  </section>
</a>
