<section id="menu-bar">
   <label (click)="abre_fecha_Menu()" id="menuHamburguer"><img id="iconResp" src="{{imageIcone}}" alt="iconResp"></label>
  <!--<a href="#" onclick="abreFechaMenu()" id="icone_menu_resp"><img id="iconResp" src="menu_resp_fechado_32x32.png" alt="iconResp"></a>-->
  <section id="menu-bar-links" [ngStyle]="{'display':menuFlutuante}">
    <a href=" ">Home</a>
    <a href="content">Personagens</a>
    <a href="https://www.linkedin.com/in/diego-de-souza-lima-campus-expert/" target="_blank">Linkedin</a>
    <a href="https://github.com/Diego-de-Souza" target="_blank">GitHub</a>
    <a href="mailto:diegodesouza.souza@gmail.com">E-mail</a>
    <a href="https://www.instagram.com/jahdigao/" target="_blank">instagram</a>
  </section>
  <a href="#" id="container-preium" [ngStyle]="{'display':menuFlutuante}">Premium Content</a>
</section>
