<section id="section-footer">
  <figure>
    <img src="../../../assets/imagens/slogan_blog24.png"
    alt="Slogan inicial do blog 'Blog 24'">
  </figure>
  <section id="icons-footer">
    <a href="https://github.com/Diego-de-Souza" target="_blank"><img src="../../../assets/imagens/github.png" alt="" srcset=""></a>
    <a href="https://www.instagram.com/jahdigao/" target="_blank"><img src="../../../assets/imagens/instagram.png" alt="" srcset=""></a>
    <a href="mailto:diegodesouza.souza@gmail.com"><img src="../../../assets/imagens/email .png" alt="" srcset=""></a>
    <a href="https://www.linkedin.com/in/diego-de-souza-lima-campus-expert/" target="_blank"><img src="../../../assets/imagens/linkedin.png" alt="" srcset=""></a>
  </section>
  <p> 	&copy; Desenvolvido por <b style="color:blue;">Diego de Souza</b></p>
</section>
