/* You can add global styles to this file, and also import other style files */
@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.circle {
  display: block;
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-right: 0.5em;
}
